main .l-stat-srch-root {
    width: 75%;
    height: 100px;
    /* border: 1px solid hotpink; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px rgba(221, 5, 95, 0.5);
}

main div .input-st {
    width: 30%;
    position: relative;
    margin: 0px 10px;
}

main>div>div>input {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 13px;
    letter-spacing: 0.6px;
    font-weight: 500;
    box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.5);
}

main div .autocomplete {
    list-style: none;
    position: absolute;
    top: 31px;
    /* left: 5.5px; */
    width: 100%;
    z-index: 9999;
    height: 240px;
    overflow-y: auto;
}

.autocomplete li:nth-last-child() {
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
}

.autocomplete li {
    /* border: 1px solid grey; */
    background: #fff;
    width: 100%;
    cursor: pointer;
    padding: 6px;
}

.autocomplete li span {}

.autocomplete li span:nth-child(1) {
    /* border: 0.5px solid hotpink; */
    padding: 4px;
    width: 30%;
}

.autocomplete li span:nth-child(2) {
    text-align: right;
    float: right;
    width: 70%;
    text-transform: capitalize;
}

input:focus,
button:focus {
    border: none;
}

main>div>select {
    width: 60px;
    height: 30px;
    margin: 0px 10px;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-shadow: 1px 0px 2px 1px rgba(119, 86, 86, 0.3);
}

main>div>button {
    border: 0.5px solid rgb(250, 5, 127);
    margin: 0px 20px;
    background: #fff;
    /* color: #fff; */
    outline: none;
    width: 80px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.2px;
    border-radius: 10px;
    cursor: pointer;
}

main>div>button:hover {
    background: rgb(250, 5, 127);
    color: #fff;
    transition: background 0.3s ease-in-out;
}

main .l-stat-result {
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    /* border: 0.5px solid hotpink; */
}

table thead,
tbody {
    border: 1px solid hotpink !important;
}

table thead th,
td {
    width: 130px;
    height: 50px;
    text-align: center;
}

.pagination {
    width: 85%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination span:nth-child(n+2):nth-last-child(n+2) {
    color: rgb(88, 187, 226);
    padding: 0px 6px;
    cursor: pointer;
    caret-color: transparent;
}

.pagination span:nth-child(1),
.pagination span:nth-last-child(1) {
    color: grey;
    padding: 0px 13px;
    cursor: pointer;
}

@media(max-width:768px) {
    main div .input-st {
        width: 100%;
    }
    table {
        display: block;
        overflow-x: scroll;
        padding: 5px;
    }
}