<main class="live-status-root">
    <div class="heading">
        <span>Live Status</span>
    </div>
    <div class="main-root live-status-srch-root">
        <input [(ngModel)]="trainNo" type="text" name="st-code" id="st-code" value="" placeholder="Enter Train Number" [required]="true" />
        <select [(ngModel)]="runningDate">
            <option  [value]="dates.tom">{{dates.tom}}</option>
            <option  [value]="dates.tod">{{dates.tod}}</option>
            <option  [value]="dates.yest">{{dates.yest}}</option>
            <option  [value]="dates.dBYest">{{dates.dBYest}}</option>
        </select>
        <button (click)="fetchLiveStatus()">Find</button>
    </div>
</main>